<h1><%= @book.title %></h1>
<%= image_tag @book.image, :class => :feature %>
<ul>
  <li>Year Published: <%= @book.year %></li>
  <li>Genre: <%= @book.genre %></li>
</ul>
<p><%= @book.synopsis %> </p>

<div class="controls">
  <%= link_to 'Edit Book', edit_book_path(@book) %>
  <%= button_to 'Delete Book', @book, :method => :delete, :data => {:confirm => "Are you sure?"} %>
</div>
